
html
	body
		font-family font-principal !important
		min-width 1024px

		h1, h2, h13, h4, h5, h6, a, ul, li, p, div, span, button, select, input, textarea, label
			font-family font-principal !important

.body-container
	background color-white
	padding-bottom 30px
	width auto

.general-container
	display block
	margin 0 auto
	max-width 1100px
	min-width 1024px
	padding 0 15px

.visibility-hidden
	visibility hidden

.visibility-visible
	visibility visible

.no-margin
	margin 0 !important

.no-padding
	padding 0 !important

.scroll-hidden
	overflow hidden

.scroll-hidden-x
	overflow-x hidden

.scroll-hidden-y
	overflow-y hidden

