/*Btn main action personalization color and shadow*/
.mdl-button--fab.action-btn
  @extends .transition-mdl-elements
  background color-accent
  box-shadow 0 1px 1.5px 0 rgba(0,0,0,.12),0 2px 4px 0 rgba(0,0,0,.24),0 1px 0px 0 rgba(255,255,255,.5) inset

  &:active,&:focus,&:hover
    background color-accent

  &:active,&:focus
    box-shadow 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)

  .material-icons
    @extends .transition-mdl-elements
    left 16px
    top 16px
    transform rotate(0deg)

/*MDL inputs*/

.mdl-textfield.mdl-textfield--floating-label
  width 100%

  // Behavior when is empty
  .mdl-textfield__input
    border solid 1px color-border
    color color-text-primary
    padding 7px 15px

  .mdl-textfield__label
    color color-text-disable
    font-weight regular
    padding 4px 0 0 15px
    &:after
      background color-secondary
      bottom 15px

  .mdl-textfield__error
    color color-error

  // Behavior when is focused
  &.is-focused
    .mdl-textfield__input
      color color-text-primary

    .mdl-textfield__label
      color color-secondary
      padding 0
      top 0
      &:after
        background color-secondary


  // Behavior when is full
  &.is-dirty
    // .mdl-textfield__input
    .mdl-textfield__label
      color color-secondary
      padding 0
      top 0

  // Behavior when is error
  &.is-invalid.is-focused, &.is-invalid.is-dirty
    .mdl-textfield__input
      color color-text-primary

    .mdl-textfield__label
      color color-error
      &:after
        background color-error

  // Behavior when is error because of empty
  &.is-invalid
    color color-text-primary

    .mdl-textfield__label
      color color-error
      &:after
        background color-error

  &.read-only
    .mdl-textfield__input
      border none
      border-bottom solid 1px color-border
    .mdl-textfield__label
      color color-secondary
      font-size 12px
      padding 0
      top 0

/*MDL checkbox*/

.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect

  .mdl-checkbox__label
    color color-text-primary

  .mdl-checkbox__box-outline
    @extends .transition-mdl-elements
    border solid 1px color-text-secondary

    .mdl-checkbox__tick-outline
      background-color color-white

  .mdl-checkbox__ripple-container

    .mdl-ripple
      background color-primary

  &.is-checked

    .mdl-checkbox__box-outline
      border solid 1px color-primary
      box-shadow: 0 0 0 3px color-primary inset

      .mdl-checkbox__tick-outline
        background-color color-primary


/*MDL radio button*/

.mdl-radio.mdl-js-radio.mdl-js-ripple-effect

  .mdl-radio__label
    color color-text-primary

  .mdl-radio__outer-circle
    border solid 1px color-text-secondary

  .mdl-radio__inner-circle
    background-color color-white
    border solid 1px color-text-secondary

  .mdl-radio__ripple-container
    left -10px
    .mdl-ripple
      background color-primary

  &.is-checked

    .mdl-radio__inner-circle
      background-color color-primary
      border solid 1px color-primary


/*Error message*/
.mdl-message__error
  color color-error

/*Tabs*/
.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect


  .mdl-tabs__tab-bar
    border-bottom 1px solid color-border

  .mdl-tabs__tab
    color color-text-disable

    &.is-active
      color color-secondary

      &:after
        background color-secondary

    .mdl-tabs__ripple-container
      .mdl-ripple
        background color-secondary


/*MDL select*/

.mdl-selectfield.mdl-selectfield--floating-label
  width 100%

  .mdl-selectfield__select
    border solid 1px color-border
    color color-text-primary
    padding 7px 15px

  // Behavior when is empty
  .mdl-selectfield__input
    border-bottom solid 1px color-border
    color color-text-primary

  .mdl-selectfield__label
    color color-text-disable
    font-weight regular
    padding 4px 0 0 15px
    &:after
      background color-secondary
      bottom 15px
    &:before
      color color-text-disable
      content 'keyboard_arrow_down'
      display inline-block
      bottom 22px
      font-family 'Material Icons'
      font-feature-settings "liga" 1
      font-size 19px
      -webkit-font-smoothing antialiased
      -moz-osx-font-smoothing grayscale
      font-style normal
      height 19px
      line-height 1
      overflow hidden
      position absolute
      right 5px
      text-rendering optimizeLegibility
      text-transform none
      width 16px
      z-index 1

  // Behavior when is focused
  &.is-focused
    .mdl-selectfield__input
      color color-text-primary

    .mdl-selectfield__label
      color color-secondary
      padding 0
      top 0
      &:after
        background color-secondary

  // Behavior when is full
  &.is-dirty
    // .mdl-selectfield__input
    .mdl-selectfield__label
      color color-secondary
      padding 0
      top 0

  // Behavior when is error
  &.is-invalid.is-focused, &.is-invalid.is-dirty
    .mdl-selectfield__input
      color color-text-primary

    .mdl-selectfield__label
      color color-error
      &:after
        background color-error

  // Behavior when is error because of empty
  &.is-invalid
    color color-text-primary

    .mdl-selectfield__select
      border-color color-text-inactive

    .mdl-selectfield__label
      color color-error
      &:after
        background color-error
