
.social-connection-container
	.social-table-content
		display none
		padding 10px 20px 20px
		&.is-active
			display block
		table
			&.social-table
				background none
				border none
				width 100%
				thead
					tr
						th
							color color-secondary
							font-size 14px
							font-weight bold
				tbody
					tr
						background color-white
						&:hover
							background color-background
						td
							color color-text-primary
							font-size 14px
							font-weight regular
							&.cell-category
								color color-text-secondary
				.mdl-button.btn-social
					background color-primary
					border-radius 100px
					box-shadow 0px 2px 8px rgba(0,0,0,0.13)
					color white
					font-size 14px
					height 28px
					line-height 1
					padding 0 20px
					text-transform none