
.section-header
	background #018ad9
	background -moz-linear-gradient(-45deg,  #018ad9 0%, #00d2eb 100%)
	background -webkit-linear-gradient(-45deg,  #018ad9 0%,#00d2eb 100%)
	background linear-gradient(135deg,  #018ad9 0%,#00d2eb 100%)
	padding 80px 0 25px
	
	.header-title
		color color-white
		font-size 28px
		font-weight bold
		line-height 1.2
		margin-bottom 5px
	.header-title-message
		color color-white
		font-size 14px
		font-weight regular
		line-height 1.2
		margin-top 6px
	.header-title-link
		color color-white
		float right
		font-size 16px
		font-weight regular
		line-height 1.2
		margin-top -35px
		text-align right
		.link-message
			font-weight regular
		.link-url
			font-weight bold
			margin-top 5px