
.section-header
	background #018ad9
	background -moz-linear-gradient(-45deg,  #018ad9 0%, #00d2eb 100%)
	background -webkit-linear-gradient(-45deg,  #018ad9 0%,#00d2eb 100%)
	background linear-gradient(135deg,  #018ad9 0%,#00d2eb 100%)
	padding 94px 0 40px
	
	.header-title
		color color-white
		font-size 28px
		font-weight bold
		line-height 1.2
	.header-title-message
		color color-white
		font-size 14px
		font-weight regular
		line-height 1.2
		margin-top 6px