
.modal-email-template
	.modal-dialog
		width 750px
		.modal-content
			@extends .transition-mdl-elements
			border-radius 0
			box-shadow 0 7px 17px rgba(0,0,0,0.1)
			&:hover
				box-shadow 0 7px 24px rgba(0,0,0,0.2)
			.modal-header
				border-bottom solid 1px color-border
				padding 15px 25px
				.modal-title
					color color-secondary
					font-size 20px
					padding 0
				button.close
					color color-text-secondary
			.modal-body
				padding 0 25px 25px