.modal-open
	.modal
		padding 0 !important

.modal-general
	.modal-dialog
		bottom 0
		margin 0
		position absolute
		top 0
		width 100%
		.modal-content
			border-radius 0
			height 100%
			.modal-header
				background #018ad9
				background -moz-linear-gradient(90deg,  #018ad9 0%, #00d2eb 100%)
				background -webkit-linear-gradient(90deg,  #018ad9 0%,#00d2eb 100%)
				background linear-gradient(90deg,  #018ad9 0%,#00d2eb 100%)
				border none
				color color-white
				padding 15px 0
				position fixed
				width 100%
				z-index 2
				.modal-title
					font-size 22px
					font-weight regular
					line-height 1
					padding 0

				.close
					opacity 1
					.material-icons
						color color-white
			.modal-body
				background color-white
				color color-text-primary
				margin-top 55px
				padding 0 0 80px